<h1>Listing grado_estudios</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grado_estudios.each do |grado_estudio| %>
  <tr>
    <td><%= link_to 'Show', grado_estudio %></td>
    <td><%= link_to 'Edit', edit_grado_estudio_path(grado_estudio) %></td>
    <td><%= link_to 'Destroy', grado_estudio, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grado estudio', new_grado_estudio_path %>
