


<h1> Muchas gracias por su participación. Su registro ha concluido con exito.</h1>

<div>
  <p>
    <br>
    <h3>Su numero de registro es el <%= @participante.id %></h3>
  </p>
</div>
<div>
  <% #if @participante.congreso.pago and @datos_lucrativos%>
    <% #link_to "Realizar pago para: #{@participante.nombre_completo}", pagos_url(@participante, "#{definir_precio(@participante)}0", "n68") %>
  <% #end %>
</div>