<div id="cert">
	<div id="texto">
		La <strong>Universidad Aut&oacute;<D-r>noma de Chihuahua</strong> otorga la presente constancia a:
		<span id="nombre"><%= @persona.nombre_completo %></span>
		Por su asistencia y participaci&oacute;n al evento "<%= @congreso.nombre %>"
		El Dia <%= l @congreso.fecha_inicio, :format => :medium %>
	</div>
</div>