<% if @personas.respond_to? "each" %>
  <% if @personas.size == 0 %>
    <h1>No se encontró ningún elemento</h1>
  <% else %>
    <% @personas.each do |persona| %>
    <div class="espacio">
        <%= link_to "Realizar pago para: #{persona.nombre_completo}", pagos_url(persona, "#{definir_precio(persona)}0", "n5312") %>
      </div>
    <% end %>
  <% end %>
<% else %>
  
  <%= link_to "Realizar pago para: #{@personas.nombre_completo}", pagos_url(@personas, "#{@personas.persona_tipo.precio.to_s}0", "n68")%>
<% end %>
<%= link_to "Regresar a la búsqueda", busqueda_url(@id), :class => "btn btn-warning" %>
    
    <style>
      .espacio{
    margin: 12px;
}

.espacio_vertical{
    margin-bottom: 15px;
}

.espacio_horizontal{
    margin-left: 13px;
}
    </style>