<p>
  <b>Nombre:</b>
  <%= @congreso.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @congreso.descripcion %>
</p>


<%= link_to 'Editar', edit_congreso_path(@congreso) %> |
<%= link_to 'Lista de Congresos', congresos_path %>
