<img alt="Imagen inicio"  src="../imagen_temporal2.jpg" ></img>
<img alt="Imagen inicio"  src="../imagen_temporal.jpg" style="float: right;"></img>

<p>
  <h1>SCU</h1>
  <p>
    El sistema de congresos de la uach te permite tener un majero constrol , bla bla 
  </p>
</p>

