<img alt="Imagen inicio"  src="../imagen_temporal2.jpg" ></img>
<img alt="Imagen inicio"  src="../imagen_temporal.jpg" style="float: right;"></img>

<p>
  <h1>SCU</h1>
  <p>
    Sistema de Congresos Universitario
  </p>
</p>

