<div class="shows">
  <b>Login:</b>
  <%= @user.login %>
</div>

<div class="shows">
  <b>Email:</b>
  <%= @user.email %>
</div>

<div class="shows">
    <%= image_tag @user.avatar.url(:thumb) %>
</div>
