<p>
  <b>Nombre:</b>
  <%= @participante.nombre %> <%= @participante.apellido_paterno %> <%= @participante.apellido_materno %>
</p>

<% if @participante.pago? %>
    <p>
      <% unless (@participante.informacion_pago == "00000") %>
        <b>Folio en Caja Única:</b>
        <%= @participante.informacion_pago %>
      <% else %>
        <b> Participante Confirmado </b>
      <% end %>
    </p>
<% else %>
    <p>
      <b>No se ha confirmado el pago de este participante</b>
    </p>
<% end %>